
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;

$font-sizes: (
    mobile: 12px,
    tablet: 16px,
    desktop: 18px,
    large-desktop: 20px
);

@mixin responsive-font($size-map) {
    font-size: map-get($size-map, mobile);

    @media (min-width: $tablet) {
        font-size: map-get($size-map, tablet);
    }

    @media (min-width: $desktop) {
        font-size: map-get($size-map, desktop);
    }

    @media (min-width: $large-desktop) {
        font-size: map-get($size-map, large-desktop);
    }
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    @include responsive-font($font-sizes);
}

h1 {
    @include responsive-font((mobile: 24px, tablet: 28px, desktop: 32px, large-desktop: 36px));
}

h2 {
    @include responsive-font((mobile: 20px, tablet: 24px, desktop: 28px, large-desktop: 32px));
}

h3 {
    @include responsive-font((mobile: 18px, tablet: 22px, desktop: 24px, large-desktop: 28px));
}

p {
    @include responsive-font($font-sizes);
}


* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.ant-layout-footer,
.ant-layout {
    background-color: #fff;
}

.ant-layout-sider {
    background-color: #fff !important;
    border-right: 1px solid #f0f0f0;
}

.ant-layout-sider-trigger {
    background-color: var(--ant-primary-1) !important;
}

.ant-layout-sider-trigger>* {
    color: var(--ant-primary-color) !important;
}
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: hsl(0, 0%, 93%) #ffffff;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 50%;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4f76ff;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3a5ec0;
}

:root {
    --primary-background-color: #fef9f9;
    --ant-primary-color: rgb(204, 13, 0);
    --ant-primary-color-disabled: #ffe4dd;
    --ant-primary-color-hover: #d93523;
    --ant-primary-color-active: #800000;
    --ant-primary-color-outline: rgba(204, 13, 0, 0.2);
    --ant-primary-color-deprecated-bg: #ffb6a3;
    --ant-primary-color-deprecated-border: #e65e49;
    --ant-primary-1: #fef3f0;
    --ant-primary-2: #ffb6a3;
    --ant-primary-3: #f28974;
    --ant-primary-4: #e65e49;
    --ant-primary-5: #d93523;
    --ant-primary-6: #cc0d00;
    --ant-primary-7: #a60600;
    --ant-primary-8: #800000;
    --ant-primary-9: #590003;
    --ant-primary-10: #330003;
    --ant-primary-color-deprecated-l-35: rgb(255, 136, 128);
    --ant-primary-color-deprecated-l-20: rgb(255, 64, 51);
    --ant-primary-color-deprecated-t-20: rgb(214, 61, 51);
    --ant-primary-color-deprecated-t-50: rgb(230, 134, 128);
    --ant-primary-color-deprecated-f-12: rgba(204, 13, 0, 0.12);
    --ant-primary-color-active-deprecated-f-30: rgba(255, 235, 230, 0.3);
    --ant-primary-color-active-deprecated-d-02: rgb(255, 227, 220);
}

.ant-layout-footer {
    background-color: transparent !important;
}

.ant-btn-primary {
    background-color: var(--ant-primary-color) !important;
    border-color: var(--ant-primary-color-outline) !important;
    color: #fff;
}

.ant-btn-primary:hover,
.ant-btn-primary:active {
    background-color: var(--ant-primary-color-hover) !important;
    border-color: var(--ant-primary-color-hover) !important;
}

.ant-btn:disabled {
    background-color: var(--ant-primary-color-disabled) !important;
    border-color: var(--ant-primary-color-disabled) !important;
    color: #fff;
}

.ant-menu-item-active {
    background-color: var(--ant-primary-1) !important;
    color: var(--ant-primary-6) !important;
}

.ant-menu-item-selected {
    background-color: var(--ant-primary-1) !important;
    color: var(--ant-primary-6) !important;
}

.ant-menu-item:hover {
    background-color: var(--ant-primary-1) !important;
    color: var(--ant-primary-6) !important;
}

.ant-menu-submenu-title {
    color: #000 !important;
}

.ant-menu-submenu-open>.ant-menu-submenu-title {
    color: var(--ant-primary-6) !important;
}

.ant-float-btn-body {
    background-color: var(--ant-primary-color) !important;
    border-color: var(--ant-primary-color-outline) !important;
    color: #fff;
}

.ant-float-btn-body:hover,
.ant-float-btn-body:active {
    background-color: var(--ant-primary-color-hover) !important;
    border-color: var(--ant-primary-color-hover) !important;
}

.ant-pagination-item-active {
    background-color: var(--ant-primary-1) !important;
    border-color: var(--ant-primary-3) !important;
}

.ant-pagination-item-active:hover {
    background-color: var(--ant-primary-2) !important;
    border-color: var(--ant-primary-4) !important;
}

.ant-pagination-item-active:active {
    background-color: var(--ant-primary-2) !important;
    border-color: var(--ant-primary-4) !important;
}

.ant-pagination-item-active>* {
    color: var(--ant-primary-6) !important;
}

.ant-spin-dot-item {
    background-color: var(--ant-primary-color) !important;
}

.ant-spin {
    background-color: var(--primary-background-color) !important;
    color: var(--ant-primary-6) !important;
}
.custom-form-item .ant-form-item-label>label {
    color: var(--ant-primary-6) !important;
    font-weight: bold;
}
.custom-form-item .ant-form-item-required::before {
    color: var(--ant-primary-10) !important;
}

.custom-form-item .ant-form-item-explain-error {
    color: var(--ant-primary-10) !important;
}
.custom-form-item .ant-input,
.custom-form-item .ant-input-password {
    color: var(--ant-primary-8) !important;
    background-color: var(--ant-primary-color-disabled) !important;
    border-color: transparent !important;
}
.custom-form-item .ant-input::placeholder,
.custom-form-item .ant-input-password input::placeholder {
    color: var(--ant-primary-3) !important;
}
.custom-form-item .ant-input:focus,
.custom-form-item .ant-input-password input:focus {
    border-color: transparent;
}
.custom-form-item .ant-input:not(:placeholder-shown),
.custom-form-item .ant-input-password input:not(:placeholder-shown) {
    color: var(--ant-primary-8) !important;
}
.custom-form-item .ant-input-password .anticon {
    color: var(--ant-primary-4) !important;
}

.custom-title-1 {
    color: var(--ant-primary-8) !important;
    font-weight: bold !important;
}