body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.ant-layout-footer, .ant-layout{
    background-color: #fff;
}

:root {
    --primary-color: #1890ff;
    --secondary-color: #1890ff;
    --tertiary-color: #fff;
}